<component name="ArtifactManager">
  <artifact type="war" name="SpringHibernateAnnotations:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringHibernateAnnotations.war">
      <element id="artifact" artifact-name="SpringHibernateAnnotations:war exploded" />
    </root>
  </artifact>
</component>